Hi krishan!
<router-outlet></router-outlet>

<form [formGroup]="userForm" (ngSubmit)="saveUser(userForm)">
  <div class="alert alert-danger" role="alert" *ngIf="submitted && userForm.invalid">
    <strong *ngIf="submitted && f['name'].invalid">Name</strong>
    <strong *ngIf="submitted && f['email'].errors && f['email'].errors['email']">Email</strong>
    <strong> is invalid</strong>
  </div>

  <input formControlName="name" type="text" name="" id=""> <br>
  <input formControlName="email" type="email" name="" id=""> <br>
  <input formControlName="age" type="number" name="" id=""> <br>
  <button type="submit">Save</button>
</form>